[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "imgui-submodule"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
